version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres-top-top-burguer-nest
    restart: unless-stopped
    environment:
      POSTGRES_DB: toptopburguer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  postgres_data:
